@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Edu+NSW+ACT+Foundation:wght@700&family=Itim&family=Kalam:wght@400;700&family=Kanit:wght@300&family=Laila:wght@400;700&family=Libre+Baskerville&family=Merriweather&family=Niconne&family=Oleo+Script&family=Shrikhand&family=Signika+Negative:wght@600;700&family=Ysabeau+Infant:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.6px;
}
body{
    scroll-behavior: smooth;
}
body h2 , h1 , h3 , h4{
    font-family: 'Signika Negative', sans-serif;
}
body p{
    font-family: 'Kanit', sans-serif;
    font-size: 1.1rem;
}
/* Nav-Bar */
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.nav-container .list{
    transition: 0.5s;
    margin-left: 4rem;
}
.nav-container .list li{
    transition: 0.5s;
}
.nav-container .list li a{
    padding: 1.2rem 1.4rem;
    color: black;
    font-weight: 800;
    font-size: 1.3rem;
    font-family: 'Caveat', cursive;
    font-family: 'Ysabeau Infant', sans-serif;
}
.nav-container li a:hover{
    color: blue;
}
.nav-container li:hover{
    transform: translateY(-5px);
}
.logo-bars{
    padding: 0rem 1.8rem;
}
.bars{
    display: none;
}
.bars i{
    font-size: 2rem;
}
.xmark-icon{
    display: none;
}

/* Home page */
.home-page-container{
    height: 100vh;
    width: 100%;
    color: white;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(./Images/home-page-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.home-content{
    text-align: center;
    padding: 11rem 2rem 2rem 4rem;
}

/* Section1 */
.content-left{
    width: 600px;
}
.content-right{
    text-align: center;
    width: 40%;
}
.content-right img{
    width: 60%;
}

/* Section2 */
.home-content-section2 img{
    width: 47%;
    border-radius: 6px;
}
.section2-content{
    width: 50%;
}
.section3-box{
    width: 17rem;
    height: 21rem;
    padding: 0.7rem;
    transition: 0.5s;
    border-radius: 6px;
    box-shadow: 0px 0px 10px black;
}
.section3-box i{
    color: rgb(255, 191, 0);
    font-size: 3rem;
    transition: 0.5s;
    margin: 0.5rem 0rem;
}
.section3-box:hover{
    scale: 1.02;
}
.section3-box i:hover{
    transform: translateY(-5px);
    color: red;
}
.home-content-section4{
    padding: 3rem 2rem;
    margin: 3rem 0rem;
    background-color: darkslategray;
    color: white;
}
.section4-btn button a{
    padding: 0.8rem 1.6rem;
    font-family: 'Ysabeau Infant', sans-serif;
}










/* Form */
.form-container{
    margin: 5rem 0rem;
    padding: 1rem 0rem;
    background: linear-gradient(45deg,rgba(0, 255, 174, 0.8),rgba(0, 38, 255, 0.6));
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.form-container-sub2{
    width: 50%;
}
.form-container-sub2 input{
    outline: none;
    border: none;
    border-radius: 4px;
}
.form-container-sub2 input:focus{
    box-shadow: 0px 0px 10px blue;
}
.form-container{
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 700;
}



/* About Page Styles */

.about-head{
    background-color:#759EB8;
    color: white;
}
.about-left{
    text-align: right;
    height: 100%;
}
.section2-img{
    width: 60%;
}
.section2-img img{
    width: 45%;
    border-radius: 6px;
}
.about-section3-container i{
    font-size: 2rem;
    color: #258;
}
.section4-container1 p,.section4-container2 p{
    width: 70%;
    text-align: center;
    padding: 1rem;
    margin: auto;
}
.about-section4-container h2{
    padding: 2rem 0rem;
    background-color: #F3A712;
    color: white;
    text-align: center;
}
.about-section4-container h3{
    padding: 1rem 0rem;
    text-align: center;
    color: rgb(253, 0, 0);
}
.haveAquestion-container{
    margin: 2rem 0rem;
    padding: 2rem 0rem;
    text-align: center;
    color: white;
    background: url(./Images/Industrial\ Equipment\ Installation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Contact Form */
.contact-section1-container{
    margin: 4rem;
}
.service-section1-content{
    width: 50%;
}
.contact-google-map{
    width: 50%;
}
.contact-google-map img{
    width: 80%;
}
.contact-form{
    width: 50%;
}
.contact-form form input{
    width: 100%;
    padding: 0.6rem;
    margin: 1rem 0rem;
    outline: none;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 4px black;
}
.contact-form form input:focus{
    box-shadow: 0px 0px 6px blue;
}
.contact-form form textarea:focus{
    box-shadow: 0px 0px 6px blue;
}
.contact-form form textarea{
    width: 100%;
    outline: none;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 4px black;
}


/* Services Page */
.service-section1-container,.service-section2-container,.service-section3-container,.service-section4-container,.service-section5-container,.service-section6-container,.service-section7-container,.service-section8-container{
    margin: 0.2rem;
}
.service-section1-img,.service-section2-img,.service-section3-img,.service-section4-img,.service-section5-img,.service-section6-img,.service-section7-img,.service-section8-img{
    width: 50%;
}
.service-section2-content,.service-section3-content,.service-section4-content,.service-section5-content,.service-section6-content,.service-section7-content,.service-section8-content{
    width: 50%;
}
.service-section1-img img,.service-section2-img img,.service-section3-img img,.service-section4-img img,.service-section5-img img,.service-section6-img img,.service-section7-img img,.service-section8-img img{
    width: 80%;
}



/* TOP BUTTON */
.goToTop a{
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    padding: 0.6rem 0.8rem;
    border-radius: 6px;
    box-shadow: 0px 0px 6px black;
    animation: TopButtonAnimation 6s infinite;
}

/* Footer */

.footer-box{
    height: 16rem;
    width: 16rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
footer{
    padding-top: 4rem;
    background-color: rgb(44, 44, 44);
    color: white;
}
footer h3{
    position: relative;
    color: orange;
    margin-bottom: 1rem;
}
footer h4{
    color: orange;
    position: relative;
    margin-bottom: 1rem;
}
footer h4::after , footer h3::after{
    content: ' ';
    position: absolute;
    background-color: white;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 4rem;
}
footer ul li{
    transition: 0.5s;
    font-family: 'Ysabeau Infant', sans-serif;
}
footer ul li:hover{
    transform: translateX(6px);
}
.copyright-content{
    background-color: rgb(44, 44, 44);
    color: white;
    margin: 0;
}
.copyright-content p{
    font-family: 'Ysabeau Infant', sans-serif;
}
.copy-icon{
    font-size: 1.6rem;
}
.about-company{
    text-align: center;
    width: 20%;
    font-family: 'Ysabeau Infant', sans-serif;
}
.about-company p{
    font-family: 'Ysabeau Infant', sans-serif;
}
.about-company img{
    width: 45%;
}
.footer-contact p{
    font-family: 'Ysabeau Infant', sans-serif;
}
.footer-contact{
    text-align: left;
}

.footer-map{
    width: 30%;
    background-color: rgb(44, 44, 44);
    color: white;
    margin-bottom: 0rem;
}

.footer-map iframe{
    width: 70%;
    border-radius: 8px;
}
.social-icons{
    margin: 0rem;
    background-color: rgb(44, 44, 44);
}
.social-icons i{
    transition: 0.4s;
    font-size: 1.6rem;
    margin: 0rem 1rem;
    color: springgreen;
}
.social-icons i:hover{
    color: crimson;
    transform: translateY(-6px);
}

@keyframes TopButtonAnimation {
    50%{
        scale: 1.1;
    }
    100%{
        scale: 1;
    }
}

@media (min-width:320px) and (max-width:480px) {
    .nav-container{
        flex-direction: column;
    }
    .nav-container ul{
        padding-top: 3rem;
        position: absolute;
        left: -1000px;
        top: 7.1rem;
        width: 100%;
        text-align: center;
        flex-direction: column;
        background-color: gray;
    }
    .nav-container .list li a{
        color: white;
        font-weight: 700;
    }
    .nav-container ul i{
        position: absolute;
        top: 1rem;
        right: 1.8rem;
        font-size: 2rem;
        color: yellow;
    }
    .logo-bars{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0.2rem 1.8rem;
        justify-content: space-between;
    }
    .bars{
        position: absolute;
        right: 2rem;
        display: flex;
    }
    .xmark-icon{
        display: flex;
    }
    .home-page-container{
        background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(./Images/mobile-home-page-background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100%;
    }
    .home-content-section1{
        flex-direction: column-reverse;
    }
    .home-content-section1 .content-left{
        width: 95%;
        text-align: center;
    }
    .home-content-section2{
        flex-direction: column;
        text-align: center;
        width: 92%;
    }
    .section2-content{
        width: 90%;
    }
    .home-content-section2 img{
        width: 90%;
        margin: 2rem 0rem;
    }
    .home-content-section4{
        flex-direction: column;
        gap: 4rem;
    }
    .form-container1{
        flex-direction: column;
    }
    footer{
        align-items: center;
        gap: 1rem;
    }
    .about-company{
        padding-top: 2rem;
        width: 100%;
        text-align: center;
    }
    .goToTop a{
        right: 1rem;
        bottom: 1rem;
        padding: 0.2rem 0.4rem;
    }
    .footer-contact{
        width: 100%;
        text-align: center;
    }
    .footer-email{
        font-size: 1rem;
    }
    .footer-map{
        width: 100%;
    }
    .footer-map iframe{
        width: 95%;
    }
    .footer-box{
        width: 100%;
    }
    .copyright-content p{
        font-size: 0.6rem;
    }
    .copy-icon{
        font-size: 1rem;
    }
    .form-container-sub1{
        text-align: center;
    }
    .form-container-sub1 h2{
        margin: 1.2rem 0rem;
    }
    .form-container-sub2{
        width: 110%;
        text-align: center;
    }
    .form-container-sub2 input{
        width: 100%;
    }






    /* About  */

    .about-section2-container{
        flex-direction: column;
        gap: 2rem;
    }

    .about-section3-container{
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }
    .about-left{
        text-align: center;
    }
    .section2-img img{
        width: 85%;
    }
    .content-right{
        width: 80%;
    }
    .content-right img{
        width: 100%;
    }



    /* Services */
.service-section1-container,.service-section3-container,.service-section5-container,.service-section7-container{
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}
.service-section2-container,.service-section4-container,.service-section6-container,.service-section8-container{
    flex-direction: column-reverse;
    gap: 2rem;
    text-align: center;
}
.service-section1-content,.service-section2-content,.service-section3-content,.service-section4-content,.service-section5-content,.service-section6-content,.service-section7-content,.service-section8-content{
    width: 90%;
}
.service-section1-img,.service-section2-img,.service-section3-img,.service-section4-img,.service-section5-img,.service-section6-img,.service-section7-img,.service-section8-img{
    width: 90%;
}
.service-section1-img img,.service-section2-img img,.service-section3-img img,.service-section4-img img,.service-section5-img img,.service-section6-img img,.service-section7-img img,.service-section8-img img{
    width: 90%;
}












    /* contact form */
    .contact-section1-container{
        flex-direction: column;
        text-align: center;
        margin: 2rem 0.4rem;
    }
    .contact-form{
        width: 100%;
        padding: 1rem;
    }
    .contact-google-map{
        width: 80%;
    }
    .contact-google-map iframe{
        width: 100%;
    }
    .contact-google-map img{
        width: 80%;
    }
}



/* Ipads View */

@media (max-width: 868px) and (min-width: 481px){
    .nav-container{
        flex-direction: column;
    }
    .nav-container ul{
        padding-top: 3rem;
        position: absolute;
        left: -1000px;
        top: 7.1rem;
        width: 100%;
        text-align: center;
        flex-direction: column;
        background-color: gray;
    }
    .nav-container .list li a{
        color: white;
        font-weight: 700;
    }
    .nav-container ul i{
        position: absolute;
        top: 1rem;
        right: 1.8rem;
        font-size: 2rem;
        color: yellow;
    }
    .logo-bars{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0.2rem 1.8rem;
        justify-content: space-between;
    }
    .bars{
        position: absolute;
        right: 2rem;
        display: flex;
    }
    .xmark-icon{
        display: flex;
    }
    .home-content-section1{
        flex-direction: column-reverse;
    }
    .home-content-section1 .content-left{
        width: 95%;
        text-align: center;
    }
    .home-content-section2{
        flex-direction: column;
        text-align: center;
        width: 92%;
    }
    .section2-content{
        width: 90%;
    }
    .home-content-section2 img{
        width: 60%;
        margin: 2rem 0rem;
    }
    .home-content-section4{
        flex-direction: column;
        gap: 4rem;
    }
    .content-right img{
        width: 90%;
    }
    .about-section3-container{
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }
    .about-left{
        text-align: center;
    }
    .section2-img img{
        width: 85%;
    }
    .content-right{
        width: 80%;
    }
    .content-right img{
        width: 100%;
    }
    .contact-section1-container{
        flex-direction: column;
        text-align: center;
        margin: 2rem 0.4rem;
    }
    .contact-form{
        width: 80%;
        padding: 1rem;
    }
    .contact-google-map{
        width: 80%;
    }
    .contact-google-map img{
        width: 80%;
    }


    footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.4rem;
    }
    .footer-box{
        width: 100%;
    }
    .about-company{
        padding-top: 2rem;
        width: 50%;
        text-align: center;
    }
    .footer-contact{
        width: 100%;
    }
    .footer-email{
        font-size: 1rem;
    }
    .footer-map{
        width: 50%;
    }
    .footer-map iframe{
        width: 80%;
    }
    .copyright-content p{
        font-size: 1rem;
    }
}